/* line 8, /Users/LoRyder1/Desktop/CodingPrac/Rails/Accounts2/app/assets/stylesheets/records.scss */
.container {
  margin: 5% auto;
  width: 70%;
  padding: 2%;
  border: 3px solid black;
  background-color: white;
  font-family: Verdana, Geneva, sans-serif;
}

/* line 17, /Users/LoRyder1/Desktop/CodingPrac/Rails/Accounts2/app/assets/stylesheets/records.scss */
.table {
  border: 1px solid black;
  width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@import "bootstrap-sprockets";
@import "bootstrap";

@import "records";
