// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$headline: "Times New Roman", Times, serif; 
$primary-font: Verdana, Geneva, sans-serif;

.container {
  margin: 5% auto;
  width: 70%;
  padding: 2%;
  border: 3px solid black;
  background-color: white;
  font-family: $primary-font;
}

.table {
  border: 1px solid black;
  width: 100%;
}